html, body {
	color: #222324;
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	overflow: hidden;
}

h1 {
	font-weight: 300;
	font-size: 48px;
	margin: 10px;
}

.board-container {
	width: 60%;
	float: left;
}

.board {
	background-color: #fce473;
	width: 70%;
	margin: auto;
	padding: 10px;
}

.row {
	width: 100%;
	margin: auto;
}

.cell {
	display: inline-block;
	width: 14.2857142868%;
	height: 0;
	padding-bottom: 14.285714286%;
}

.piece {
	width: 82%;
	height: 0;
	padding-bottom: 82%;
	border-radius: 50%;
	margin: 9%;
}

.piece.black {
	background-color: #4c3333;
}

.piece.empty {
	background-color: #fff;
}

.piece.red {
	background-color: #ed6c63;
}

.footer {
	height: 100px;
}

.status-text {
	color: #69707a;
}

.player-text.red {
	color: #ed6c63;
}

.player-text.black {
	color: #4c3333;
}

.board-controls {
	width: 40%;
	float: left;
	text-align: left;
}

.new-game-button {
	color: #222324;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
}

.new-game-button:hover {
	background-color: #e6e6e6;
	border-color: #adadad;
}

.new-game-button:active {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.new-game-button:focus {
  outline: none;
}